@charset "UTF-8";
body{
}
.main{
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    position: relative;
    left: 300px;
    top: 120px;
    overflow: hidden;
    width: 782px;
    height: auto;
    background-color: white;
}
.header{
    position: relative;
    right: 20px;
    height: 42px;
    padding-top: 10px;
}
.bg-primary span{
    padding-left: 20px;
}
.text{
    padding-bottom: 3px;
    padding-top: 15px;
}
.tipmark{
    display: block;
    margin-right: 35px;
    font-size: 13px;
    line-height: 2; 
    border-style: dashed;
    border-color: rgb(1, 178, 254);
    border-width: 1px;
    border-radius: 15px;
    background-color: rgb(235, 249, 249);
}
.read-more{
    padding-top: 20px;
}
.content{
    padding: 0;
}
.contain{
    position: relative;
    right: 20px;
}
.lbclose{
    padding-top: 7px;
    padding-left: 10px;
}
.content a{
    font-size: 11.7px;
    padding-left: 10px;
    font-family: Arial, sans-serif; /* Chọn font chữ */
    font-weight: bold; 
    text-decoration: none;
}
.title{
    padding-top: 7px;
    position: relative;
    font-size: 13px;
}
.ctn-nhapmk{
    position: relative;
    right: 20px;
}
.boder-left{
    border-left-style: ridge;
}