@charset "UTF-8";
select{
	height: 30px;
	
}
.button{
	float: right;
}
.header{
	display: flex;
	height: 50px;
	justify-content: center;
	align-items: center;
	font-size: 25px;
}
.header span{
	color: black;
}
.select{
	background-color: purple;
	color: white;
}
.select select{
	color: black;
	background-color: #2096be;
}